$color-blue-1:#0976d3;
$color-light-blue-1:#c9e6fe;
$color-light-blue-2:#3a91db;
$color-light-blue-3:#f7fbfe;
$color-light-blue-4:#539fe0;
$color-dark-blue-1:#0056b3;
$color-dark-blue-2:#0c4679;
$color-dark-blue-3:#002f58;
$color-dark-blue-4:#03549b;
$color-grey-1:#666;
$color-grey-2:#4a4a4a;
$color-grey-3:#666666;
$color-light-grey-1:#d8d8d8;
$color-light-grey-2:#9b9b9b;
$color-light-grey-3:#eff4f8;
$color-light-grey-4:#ccc;
$color-light-grey-5:#ced6dd;
$color-dark-grey-1: #2c2c2c;
$color-red-1:#d31e27;
$color-facebook:#3a559f;
$color-linkedin:#0e76a8;
$color-google:#d52d0b;
$color-github:#2bba4c;
$border-dropdown-1:1px solid rgba(#000, 0.15);
$border-1: 1px solid #c9e6fe;
$box-shadow-dropdown-1:0 6px 12px rgba(#000, 0.175);
$box-shadow-1:0 4px 8px 0 rgba(#000, 0.12);
$box-shadow-2: 0 0 4px 0 rgba(0, 0, 0, 0.07);
$box-shadow-3: 0 2px 4px 0 rgba(0, 0, 0, 0.12);